body {
  background-color: white;
  margin:0;}



/*.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}*/
.dropdown-content a:hover {
  background-color: #edcfae;
  border-radius: 25px;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 425px) {
  /*.topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }*/
  .topnav {
    width: 100%;
    border-bottom: solid;
    border-bottom-width: 1.5px;
    border-bottom-color: #7e5247;
    /*padding-left: 10%;*/
    /*padding-right: 25%;*/
    overflow: hidden;
    background-color: white;
    display: flex;
  }

  .topnav .mob .nameText a {
    float: left;
    color: #7e5247;
    display: block;
    text-align: center;
    padding: 20px 20px 0px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Sriracha', cursive;
  }
  .topnav .mob .nameText2 a img{
    width: 0px;
    padding: 0px 0px 0px;
    opacity: 0;
  }
  .topnav .mob .nameText2 a {
    float: left;
    color: #7e5247;
    display: block;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Sriracha', cursive;
  }
  .topnav .logo1 a img{
    display: block;
    width: 130px;height: 60%;
    padding: 4% 35% 0%;
    opacity: 1;
  }
  .topnav .mob .logo2 a img{
    width: 0px;
    padding: 0px 0px 0px;
    opacity: 0;
  }

  .topnav {
    display: block;
  }

  .dropdown {
    padding-left: 5px;
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 14px;    
    border: none;
    outline: none;
    color: #7e5247;
    padding: 20px 10px 0px;
    background-color: inherit;
    font-family: 'Sriracha', cursive;
    margin: 0;
  }
  .dropdown-content {
    /*margin-left: 80px;*/
    font-family: 'Sriracha', cursive;
    display: none;
    position: absolute;
    background-color: #eeac62;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 25px;
    border-style: solid;
    border-width: 4px;
    border-left-color: #eeac62;
    border-top-color: #eeac62;
    border-right-color: #cd8e4b;
    border-bottom-color: #cd8e4b;
  }

  .dropdown-content a {
    float: none;
    color: black;
    font-size: 10px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a img {
    width: 10px; height: 10px;
  }
  .dk1 {
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .head-dk h1 {
    margin: 0px;
    color: #eac130;
    font-size: 18pt;
    font-family: 'Sriracha', cursive;
    padding: 5% 0% 0% 5%;
  }
  
  .headdigi img {
    width: 40%;
    height: 40px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 30%;
    top: 50%;
  }
  .digital img {
    width: 280px;
    height: 180px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    left: 17%;
    top: 40%;
    display: block;
  }

  .digi img {
    width: 260px;
    height: 150px;
    display: flex;
    top: 60%;
    left: 20%;
    position: absolute;
  }

  .digit img {
    width: 260px;
    height: 150px;
    display: flex;
    top: 60%;
    left: 20%;
    position: absolute;
  }

}

@media screen  and (min-width: 426px) {
    .topnav .mob {
    border-bottom: solid;
    border-bottom-width: 1.5px;
    border-bottom-color: #7e5247;
    padding-left: 7%;
    /*padding-right: 25%;*/
    overflow: hidden;
    background-color: white;
    display: block;
  }

  .topnav .mob .nameText a {
    float: left;
    color: #7e5247;
    padding: 20px 80px 0px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Sriracha', cursive;
  }
  .topnav .mob .nameText2 a img{
    width: 130px; height: 60%
    padding: 0px 0px 0px;
    opacity: 1;
  }
  .topnav .mob .nameText2 a {
    float: left;
    color: #7e5247;
    padding: 0px 80px 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Sriracha', cursive;
  }

  .topnav .logo1 a img{
    width: 0px;
    padding: 0px 0px 0px;
    opacity: 0;
  }
  .topnav .mob .logo2 a img{
    width: 0px;
    padding: 0px 0px 0px;
    opacity: 0;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 22px;    
    border: none;
    outline: none;
    color: #7e5247;
    padding: 20px 80px;
    background-color: inherit;
    font-family: 'Sriracha', cursive;
    margin: 0;
  }

  .dropdown-content {
    margin-left: 80px;
    display: none;
    position: absolute;
    background-color: #eeac62;
    min-width: 160px;
    font-family: 'Sriracha', cursive;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 25px;
    border-style: solid;
    border-width: 4px;
    border-left-color: #eeac62;
    border-top-color: #eeac62;
    border-right-color: #cd8e4b;
    border-bottom-color: #cd8e4b;
  }

  .dropdown-content a {
    float: none;
    color: black;
    font-size: 16px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

  }
  .dropdown-content a img {
    width: 20px; height: 20px;
  }

  .dk1{
    opacity: 0;
  }

}